html {background: #999999}
h1,h2{background: blue;color: rebeccapurple}
/*title{font-weight: bold}
*/
h4[class~="llll"]{color: yellow}
ul ol ul em {color: pink}
a > a {color: yellow}
a{color: blue}
a:visited{color: yellow}

input:focus{background: red}
input:hover{background: yellow}
input:active{background: blue}
input{background: gray}
p:first-letter{font-size: 200%;}
p:before{content: "["}
p:after{content: "]"}
body {margin-top: 0;margin-left: 0}

/*li + li {color: red}*/

#inherit{color: brown}
/*剔除掉用户代理（浏览器) 的元素选择*/
/*特殊性为 0 0 2 高于上述的特殊性为 0 0 1 的选择器*/
div a {color: brown}
div a {color: rgb(0%,0%,0%)}
/*div div{color: rgb(0%,0%,0%);font-size: 0.5rem;height: 1rem;width: 1rem;font-family: cursive}*/

html{font-size: 100px}
p{font-size: 20px}