html {background: #999999}
h1,h2{background: blue;color: rebeccapurple}
/*title{font-weight: bold}
*/
h4[class~="llll"]{color: yellow}
ul ol ul em {color: pink}
a > a {color: yellow}
a{color: blue}
a:visited{color: yellow}

input:focus{background: red}
input:hover{background: yellow}
input:active{background: blue}
input{background: gray}
p:first-letter{font-size: 200%;}
p:before{content: "["}
p:after{content: "]"}
body {margin-top: 0;margin-left: 0}

/*li + li {color: red}*/